.btn-delete,
.btn-preview,
.btn-edit {
  color: #757575;
  border: solid 1px #757575;
  height: 30px !important;
  width: 30px !important;
  min-width: 30px !important;
}

.btn-add {
  background-color: #243452;
  color: #FFFFFF;
  height: 30px !important;
  width: 30px !important;
  min-width: 30px !important;
}
