.btn {
  color: #757575;
  border: solid 1px #757575;
  height: 30px !important;
  width: 30px !important;
  min-width: 30px !important;
}

.btn-add {
  background-color: #243452;
  color: #FFFFFF;
  height: 30px !important;
  width: 30px !important;
  min-width: 30px !important;
}

.button-toggle-group-product {
  height: 30px;
  margin-right: 10px;
  color: #757575;
  border: solid 1px #757575;
}

.content-icon {
  font-size: 16px;
  margin-top: -6px;
  margin-left: -8px;
  color: #757575;
}

::ng-deep .button-toggle-group-product .mat-button-toggle-button {
  width: 35px !important;
  height: 30px !important;
}

.search_input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #5C5A5B;
  width: 168px;
}

::ng-deep .search-input .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
  width: 225px !important;
}

::ng-deep .search-input .mat-form-field-appearance-fill .mat-form-field-flex {
  border: 1px solid transparent;
}

::ng-deep .search-input .mat-form-field-wrapper {
  padding-bottom: 1em;
}