<div class="row">
  <div class="col-50 floatleft">
    <h5>Products({{length}})</h5>
  </div>

  <div class="col-50">
    <div style="float: right;">
      
      <a class="search-input" style="margin-right: 20px;">
        <mat-form-field style="width: 225px;" appearance="fill">
          <input class="search_input" matInput type="text" (keyup)="search($event.target)" placeholder="Search...">
          <mat-icon style="color:#5C5A5B;" matPrefix> search </mat-icon>
        </mat-form-field>
      </a>

      <button [disabled]="(selectedProduct.id === undefined || selectedProduct.id === '-1')" mat-button class="btn"
        style="margin-right: 10px;" matTooltip="Delete" (click)="openDeleteProduct()">
        <mat-icon style="font-size: 16px; margin-left: -11px;">delete</mat-icon>
      </button>

      <button [disabled]="(selectedProduct.id === undefined || selectedProduct.id === '-1')" mat-button class="btn"
        style="margin-right: 10px;" matTooltip="Edit" (click)="openEditProduct()">
        <mat-icon style="font-size: 16px; margin-left: -11px;">edit_square</mat-icon>
      </button>

      <mat-button-toggle-group class="button-toggle-group-product" aria-label="Font Style"
        (change)="change($event.value)">
        <mat-button-toggle class="btn-toggle" value="Card View" matTooltip="Card View">
          <div class="content-icon">
            <mat-icon style="font-size: 16px;">grid_view</mat-icon>
          </div>
        </mat-button-toggle>
        <mat-button-toggle class="btn-toggle" value="List View" matTooltip="List View">
          <div class="content-icon">
            <mat-icon style="font-size: 16px;">table_rows</mat-icon>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <button mat-button class="btn-add" matTooltip="Add New Product" (click)="openAddNewProduct()">
        <mat-icon style="font-size: 16px; margin-left: -12px;">add</mat-icon>
      </button>
    </div>

  </div>

</div>
