.img-default {
  max-width: 200px;
  max-height: 120px;
  border-radius: 8px;
}

.btn-add {
  background-color: #243452;
  color: #FFFFFF;
}

.btn-add-disabled {
  color: #898788;
  background-color: #F5F5F5;
}
